body {
	background-color: black;
	height: 100vh;
}

.btn-circle {
	width: 10vw;
	height: 10vw;
	border-radius: 100%;
	
}

.large-text {
	font-size: 5rem;
}

p, h1, h2, h3, h4, h5 {
	color:white;
}
h1 {
	font-size: 4em;
}
#setTemp {
	color:white;
	background-color: black;
}
