<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    </link>
    <title>Dashboard</title>
</head>

<body class="w-100">
    <div class="d-flex justify-content-around">
    	        <div class="inline-flex p-3">
        	<div class="d-flex flex-column">
        	<i class="fas fa-home fa-4x" style="color:white;"></i>
        </div>
        </div>
        <div class="inline-flex p-3 border-left border-right">
            <div class="d-flex flex-column justify-content-center">
                <p class="text-center">{{ tnt.cur_temp }}</p>
                <p class="text-center">Current Temperature</p>
            </div>
        </div>
        <div class="inline-flex p-3">
            <div class="d-flex flex-column justify-content-center">
                <p class="text-center">{{ tnt.cur_time }}</p>
                <p class='text-center'>Time</p>
            </div>
        </div>
    </div>
    <div class="container h-100 ml-5 d-flex align-items-center">
        <div class="d-flex flex-column ml-5 mr-3">
            <i id="upArrow" class="fas fa-chevron-circle-up fa-4x mb-5" style="color:white;"></i>
            <i id="downArrow" class="fas fa-chevron-circle-down fa-4x mt-5" style="color:white;"></i>
        </div>
        <div class="d-flex flex-column ml-5 mr-3">
        	<h1 id="displayTemp">{{ tnt.targ_temp }}</h1>
        </div>
        <div class="d-flex flex-column ml-5 mr-3">
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-secondary active">
                    <input type="radio" name="options" id="option1" autocomplete="off" value="hot" checked> Heat
                </label>
                <label class="btn btn-secondary">
                    <input type="radio" name="options" id="option2" autocomplete="off" value="off"> Off
                </label>
                <label class="btn btn-secondary">
                    <input type="radio" name="options" id="option3" autocomplete="off" value="cold"> Cool
                </label>
            </div>
        </div>
       	        	
        <form method="POST" action="{{ url_for('dashboard') }}">
        <input id="setTemp" type="hidden" name="target_temp" value=""></input>
        <input id="setMode" type="hidden" name="thermo_mode" value=""></input>
        <button type="submit">Submit Test Buttonn</button>
        </form>
        <button id="testBtn" type="button" class="btn btn-lg btn-outline-success pl-5 pr-5">Set</button>
    </div>
</body>

</html>

<script type="text/javascript">
	$(document).ready(function(){
		
		$("#upArrow").click(function(){
			value = parseInt($("#displayTemp").text());			
			newValue = value + 1;
			$('#displayTemp').text(newValue.toString());
		});
		$("#downArrow").click(function(){
			value = parseInt($("#displayTemp").text());
			newValue = value - 1;
			$('#displayTemp').text(newValue.toString());
			
		});

		$("#testBtn").click(function(){
			tempValue = parseInt($("#displayTemp").text());
			$("#setTemp").attr('value',tempValue);
                        modeValue = $('input[name=options]:checked', '.btn-group-toggle').val();
                        $("#setMode").attr('value', modeValue);
			$('form').submit();
		});
                $('btn-group-toggle').button('toggle');
	});


</script>

